body {
  font-family: 'Nunito', sans-serif;
  background-color: #f1f3f6;
  }
.bg-striped{
  background-image: url("../img/bg-strips-light.png");
  background-repeat: repeat;
}

.page-titles{
  margin-left: -15px;
  margin-right: -16px;
  padding: 10px 15px;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
  
/*
  * Sidebar
  */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: auto;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  color: #155875;
  font-size: 16px;
}
.nav-link:hover {
  font-weight: bold;
  background-color: #155875;
  color:#fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  background-color: #155875;
  color:#fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

  
/*
  * Navbar
  */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}
.btn-nav-link{
  color: #155875;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
}

.btn-nav-link:hover{
  color: #fff;
  background-color: #155875;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}
  
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  color: #155875;
  border: 0;
  width: 100%;
  border-radius: 0;
}

.btn-toggle:active,
.btn-toggle:hover,
.btn-toggle:focus {
  color: #fff;
  background-color: #155875;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  color: #155875;
}

.btn-toggle[aria-expanded="true"] {
  background-color: #155875;
  color: #fff;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
  color:#fff;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem 2.5rem;
  margin-top: .125rem;
  text-decoration: none;
  color:#155875;
  width: 100%;
  border-radius: 0;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #155875;
  color:#fff;
}

  //Theme
.bg-theme{
    background-color: #155875 !important;
}

.text-theme{
  color: #155875 !important;
}

.btn-theme{
  background-color: #155875 !important;
  color: #fff !important;
  border-color: #074966;
}

.btn-theme:hover{
  background-color: #31d2f2 !important;
  color: #074966 !important;
}
.icon-theme{
  color: #155875 !important;
}
.icon-warning{
  color: #ffc107 !important;
}
.card-hover{-webkit-transition:all .25s ease;-o-transition:all .25s ease;-moz-transition:all .25s ease;transition:all .25s ease}
.card-hover:hover{
    webkit-transform:translateY(-4px) scale(1.01);
    -moz-transform:translateY(-4px) scale(1.01);
    -ms-transform:translateY(-4px) scale(1.01);
    -o-transform:translateY(-4px) scale(1.01);
    transform:translateY(-4px) scale(1.01);
    -webkit-box-shadow:0 14px 24px rgba(62,57,107,.1);
    box-shadow:0 14px 24px rgba(62,57,107,.1)
}
.nav-link {
  color: #155875;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #155875;
  border-color: #155875 #155875 #f8fafc;
}
.border-theme{
  border-color: #155875 !important;
}